{
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 80,
	"editor.formatOnSave": true,
	"proseWrap": "always",
	"tabWidth": 2,
	"requireConfig": false,
	"useTabs": false,
	"bracketSpacing": true,
	"jsxBracketSameLine": false,
	"semi": true
}
